* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-content: center;
    width: 800px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}

#logo {
    width: 60px;
}

#logo-big {
    width: 150px;
    padding: 10px;
}

#seta-voltar {
    width: 50px;
}

#barras-menu {
    width: 50px;
}

.usuario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.usuario p {
    color: rgb(0, 174, 255);
    font-weight: bold;
}

#avatar {
    width: 20%;
    padding-right: 10px;
}

h1 {
    display: grid;
    color: rgb(160, 0, 0);
    font-size: 200%;
    justify-content: center;
}

.background-menu {
    display: grid;
    margin: 10px;
    padding: 10px;
    width: 350px;
    height: 350px;
    justify-content: center;
    background-color: rgb(160, 0, 0);
}

.background-menu p a {
    align-self: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-decoration:none;
}

.background-1 p {
    font-weight: bold;
    font-size: 20px;
}

.background-2 {
    display: grid;
    padding: 10px;
    width: 350px;
    height: 350px;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 174, 255);
}

.pesquisa {
    display: grid;
    justify-items: center;
    width: 100%;
    background-color: rgb(0, 174, 255);
    padding: 10px;
}

input {
    border-radius: 7px;
    width: 90%;
    height: 40px;
    border-color: rgb(0, 174, 255);
    margin-bottom: 10px;
}

button {
    border-radius: 7px;
    width: 90%;
    height: 40px;
    border-color: rgb(0, 174, 255);
    background-color: white;
    font-size: 25px;
    color: rgb(0, 174, 255);
}

.button-turista {
    border-radius: 7px;
    width: 300px;
    height: 40px;
    border-color: rgb(0, 174, 255);
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 174, 255);
}

.button-guia-turista button {
    width: 90%;
    margin: 10px;
}

.button2 {
    display: flex;
    width: 300px;
    justify-content: space-around;
    border-radius: 7px;
    height: 60px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 218, 0);
}

.button1 {
    display: flex;
    width: 350px;
    height: 60px;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
}

#img1 {
    display: flex;
    width: 50px;
    margin: 10px;
    justify-content: center;
}

#classificacao {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(160, 0, 0);
    border-radius: 10px;
    margin-top: 10px;
}

.lugares {
    width: 340px;
    height: 130px;
    margin: 10px;
    border-radius: 10pt;
    background-color: white;
    color: rgb(0, 174, 255);
}

.lugares p {
   margin-top: 10px;
}

#img-lugares {
    float: left;
    margin: 10px;
    width: 100px;
    border-radius: 10px;
}

#img-stars {
    margin: 10px;
    width: 150px;
    margin: 10px;
}

#qtd-passeio {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: rgb(160, 0, 0);
    font-size: 13px;
}

#f-passeio {
    color: rgb(0, 174, 255);
    font-size: 11px;
}

.checkbox-guia {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: white;
}

.checkbox-guia input {
    width: 25px;
    margin-right: 10px;
}